{template 'member', 'header'}
<div id="memberArea">
    {template 'member', 'left'}
   <!-- <link type="text/css" rel="stylesheet" href="<?php echo BS_PATH; ?>css/bootstrap.min.css" />

    <script href="<?php echo JS_PATH; ?>jquery.min.js"></script>
    <script href="<?php echo BS_PATH; ?>js/bootstrap.min.js"></script>-->
    <?php
/**
 * Created by PhpStorm.
 * User: Administrator
 * Date: 2016/6/16
 * Time: 11:45
 */
?>
    <div class="col-auto">
        <div class="col-1">
            <h6 class="title">刑事责任追究党员排查</h6>
            <div class="content">
                <table cellpadding="0" width="100%" class="table-list">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>现任（原任职务）</th>
                        <th>排查类型</th>
                        <th>单位</th>
                        <th colspan="2">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $rows $val}
                    <tr>
                        <td ><a href="?m=invest&c=criminal&a=show&id={$val[id]}">{$val["name"]}</a> </td>
                        <td>{$val["office"]}</td>
                        <td>{translate_invest_type($val["type"])}</td>
                        <td>{$val["organization"]}</td>
                        <td><a href="?m=invest&c=criminal&a=modify&id={$val[id]}">修改</a> </td>
                        <td><a href="?m=invest&c=criminal&a=delete&id={$val[id]}" onclick="if (!confirm('确认要删除？')) window.event.returnValue = false; ">删除</a> </td>
                    </tr>
                    {/loop}
                    {/pc}

                    </tbody>
                </table>
            </div>
            <div class="pages">{$pages}</div>
        </div>
        <div class="col-lg-1">
            <button class="button" onclick="location.href='?m=invest&c=criminal&a=add&type=8'">添加有罪裁定、判决的党员</button>
            <button class="button" onclick="location.href='?m=invest&c=criminal&a=add&type=9'">添加情节轻微、不需判刑或免刑的党员</button>
        </div>
    </div>
</div>
{template 'member', 'footer'}